*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-image: url(assets/bg-main-desktop.png);
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 0 0 150px;
    font-family: 'IBM Plex Sans', sans-serif;
}

.deco{
    position: absolute;
    top: 0px;
    right: 0px;
}

.logo{
    margin-top: 30px;
}

h1{
    font-size: 88px;
    width: 1015px;
    margin: 200px 0 30px 0;
    line-height: 88px;
}

.description{
    width: 825px;
    font-size: 20px;
    line-height: 34px;
}

.container{
    background-color: #191826;
    height: 600px;
    width: 1110px;
    border-radius: 12px;
    margin-top: 250px;
}

.phone{
    position: absolute;
    width: 312px;
    height: 642px;
    top: 650px;
    left: 190px;
}

.pattern{
    position: absolute;
    left: 490px;
}

.content{
    position: absolute;
    background-color: #FA7453;
    height: 625px;
    width: 446px;
    top: 1000px;
    left: 680px;
    border-radius: 12px;
    padding: 20px 50px 20px 50px;
}

h2{
    font-size: 40px;
    color: #FCFAF9;
    margin: 50px 0 20px 0;
}

.content-description, .content-price{
    font-size: 20px;
    color: #FCFAF9;
    line-height: 34px;
}

.big-price{
    position: relative;
    color: #FCFAF9;
    font-size: 65px;
    font-weight: bold;
    line-height: 52px;
    top: 20px;
}

.ios-button{
    position: absolute;
    background-color: #191826;
    color: #FCFAF9;
    width: 333px;
    height: 61px;
    border-radius: 12px;
    border-style: none;
    top: 450px;
    font-size: 18px;
    font-weight: bold;
}

.apple-icon{
    position: absolute;
    left: 80px;
}

.android-button{
    position: absolute;
    background-color: #FCFAF9;
    color: #191826;
    width: 333px;
    height: 61px;
    border-radius: 12px;
    border-style: none;
    top: 530px;
    font-size: 18px;
    font-weight: bold;
}

.android-icon{
    position: absolute;
    left: 65px;
}

.footer{
    position: absolute;
    top: 1700px;
    display: flex;
    justify-content: space-between;
    height: 100px;
}

.footer-content{
    flex-basis: 30%;
}